<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>✨ {{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    {{ $options := (dict "enableSourceMap" true "includePaths" (slice "node_modules/bootstrap/scss")) -}}
    {{ $style := resources.Get "style/style.scss" | toCSS $options | minify | fingerprint "sha256" -}}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
    <meta name="theme-color" content="#002b36">
    <meta name="color-scheme" content="dark">

    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .Summary}}<meta name="description" content="{{ .Summary }}">{{ end }}
    <meta name="author" content="{{ .Param "author.name" }} <{{ .Param "author.email" }}>">

    {{- if (eq "page" .Kind) }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ ((.PublishDate) or (.Date)).Format "2006-01-02T15:04:05-0700" }}">
    {{ if .Lastmod }}<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-0700" }}">{{ end }}
    {{ if .ExpiryDate }}<meta property="article:expiration_time" content="{{ .ExpiryDate.Format "2006-01-02T15:04:05-0700" }}">{{ end }}
    {{- range .Params.tags }}
    <meta property="article:tag" content="{{.}}">
    {{- end }}
    {{- else }}
    <meta property="og:type" content="website">
    {{- end }}
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Summary }}">
    {{- with .Resources.GetMatch "thumbnail" }}
    <meta property="og:image" content="{{ .Permalink }}">
    {{- else }}
    <meta property="og:image" content="https://www.gravatar.com/avatar/{{ (.Param "author.email") | md5 }}?s=1024">
    {{- end }}
    <meta property="og:site_name" content="✨">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ .Param "author.twitter" }}">
    <meta name="twitter:creator" content="@{{ .Param "author.twitter" }}">

    <!-- type="{{ .Type }}" kind="{{ .Kind }}" -->
</head>
